.container-inner {
  margin: 0 !important;
}

.contents-wrapper {
  display: flex;
  border: 0 !important;
  margin-bottom: 10px;

  > .contents-without-img {
    > div, a {
      margin: 10px 0 10px 20px;
    }

    > div:nth-of-type(1) {
      font-weight: 500;
      font-size: 20;
    }

    > div:nth-of-type(2) {
      font-weight: 700;
      font-size: 24;
    }

    > a {
      font-weight: 500;
      font-size: 24;
      color: #00E3FF;

      > img {
        position: relative;
        bottom: 5px;
      }
    }
  }
}