// About Scss

.hero-about {
    background-color: $main-color;
    padding:$margin*2 0;
    text-align: center;

    .text {
        width:50%;
        margin:0 auto;
        margin-top:$margin;
        text-align:center;
    }
}


#ceo-text {
    @media (max-width: $screen-xs-max) {
        br {display: block;}
    }
}

#history {
    line-height:2em;

    .date {
        color:$sub-color;
    }
}

#media {
    .item {
        border-top:1px solid rgba(255,255,225,0.5);
        padding:10px 0;
    }
    .item:nth-child(1) {
        margin-top:$margin/2;
    }
    .item:nth-last-child(1) {
        border-bottom:1px solid rgba(255,255,225,0.5);
    }
    .item a:hover {
        padding-left:30px;
        transition-duration: $transition-duration;
    }
    @media (max-width: $screen-xs-max) {
        .item a:hover {
            padding-left:0;
        }
    }
}

#business-records {
    table {
        width:100%;
        margin-top:$margin/2;

        th {
            color:$sub-color;
            border-bottom:1px solid rgba(255,255,225,0.5);
            padding:10px 30px 10px 0;
        }

        th:nth-child(1) {width:6/12*100%;}
        th:nth-child(2) {width:2/12*100%;}
        th:nth-child(3) {width:2/12*100%;padding-right:0;text-align: center;}
        th:nth-child(4) {width:2/12*100%;padding-right:0;}

        td {
            padding:10px 30px 10px 0;
            border-bottom:1px solid rgba(255,255,255,0.5);
            vertical-align: top;
        }

        td:nth-child(3) {padding-right:0;text-align: center;}
        td:nth-child(4) {padding-right:0;}

        @media (max-width: $screen-xs-max) {
            th:nth-child(2) {text-align: right;padding-right:0;}
            td:nth-child(2) {text-align: right;padding-right:0;}
        }
    }
}

#clients {
    .clients-img {
        display: table;
        .item {
            display: table-cell;
            text-align:center;
            vertical-align: center;
            margin:$margin/2 0;

            img {
                width:auto;
                height:30px;
                filter: grayscale(100) brightness(100);
                -webkit-filter: grayscale(100) brightness(100);
                opacity:0.5;
            }

            img:hover {
                filter: grayscale(0) brightness(0);
                -webkit-filter: grayscale(0);
                opacity: 1;
            }

            .logo {
                font-size:40px;
                opacity: 0.5;
                text-align: center;
            }

            .logo: hover {
                opacity: 1;
            }
        }
    }
}

#patent {
    table {
        width:100%;
        margin-top:$margin/2;

        th {
            color:$sub-color;
            border-bottom:1px solid rgba(255,255,225,0.5);
            padding:10px 30px 10px 0;
        }

        th:nth-child(1) {width:2/12*100%;}
        th:nth-child(2) {width:6/12*100%;}
        th:nth-child(3) {width:2/12*100%;padding-right:0;}
        th:nth-child(4) {width:2/12*100%;padding-right:0;}

        td {
            padding:10px 30px 10px 0;
            border-bottom:1px solid rgba(255,255,255,0.5);
            vertical-align: top;
        }



        @media (max-width: $screen-xs-max) {
            th:nth-child(2) {padding-right:0;}
        }
    }
}