---
title: Innopam - Business Record
permalink: /business-record/
nav: business-record
---

<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %} {% assign business-record = site.data.business-record %}
    <article>
      <div class="fullwidthbanner-container" style="margin: 50px 0px 0px 0px">
        <div class="solution-hero text-center" style="background-color: transparent">
          <h2 style="color: white">Business Record</h2>
          <div class="sub-ino">INNOVATIVE PLATFORM FOR AI & MAPPING COMPANY</div>
          <div class="background" style="background-image: url('/assets/img/business-record/business-record-top.jpg'); opacity: 0.4"></div>
        </div>
      </div>
      <div class="container" id="about">
        <div class="row contents" id="business-records">
          <div class="col-sm-12">
            <h1 class="smallTitle">주요사업 수행 실적</h1>
          </div>
          <ul class="row years col-sm-12" id="list">
            <li class="list-active">2023</li>
            <li>2022</li>
            <li>2021</li>
            <li>2020</li>
            <li>2019</li>
            <li>2018</li>
          </ul>
          <div class="col-sm-12 table show-table" data-year="2023">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2023 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-12 table" data-year="2022">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2022 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-12 table" data-year="2021">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2021 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-12 table" data-year="2020">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2020 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-12 table" data-year="2019">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2019 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
          <div class="col-sm-12 table" data-year="2018">
            <table class="main-business">
              <tr>
                <th>과제명</th>
                <th>발주처</th>
                <th class="hidden-xs">사업내용</th>
              </tr>
              {% for record in business-record.business-records %}
                {% if record.year == 2018 %}
                <tr>
                  <td>{{record.name}}</td>
                  <td>{{record.client}}</td>
                  <td class="hidden-xs">{{record.note}}</td>
                </tr>
                {% endif %}
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="row contents" id="patent">
          <div class="col-sm-12">
            <h1 class="smallTitle">특허 / 저작권</h1>
          </div>
          <div class="col-sm-12">
            <table>
              <tr>
                <th>구분</th>
                <th>명칭</th>
                <th class="hidden-xs">등록일</th>
                <th class="hidden-xs">비고</th>
              </tr>
              {% for patent in business-record.patents %}
              <tr>
                <td>{{patent.status}}</td>
                <td>{{patent.name}}</td>
                <td class="hidden-xs">{{patent.date}}</td>
                <td class="hidden-xs">{{patent.note}}</td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
        <div class="row contents" id="clients">
          <div class="col-sm-12">
            <h1 class="smallTitle">Clients</h1>
          </div>
          <div class="col-sm-12 clients-img">
            <div class="row">
              {% for client in business-record.clients %}
              <div class="col-md-3 col-sm-4 col-xs-6 item">
                {% if client.img == "" %}
                <span class="logo">{{client.name}}</span>
                {% else %}
                <img src="{{client.img}}" />
                {% endif %}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </article>
    {% include footer.html %} {% include js.html %}
  </body>
  <script src="{{ "/assets/js/business-record.js" }}"></script>
</html>
