---
title : Innopam
permalink: /
nav: home
---

<!DOCTYPE html>
<html lang="ko">
{% include head.html %}

<body id="page-top" class="index">
  {% include header.html %}
  {% assign home = site.data.home %}
  <article>
    <div class="fullwidthbanner-container hero">
      <div class="content">
        <div class="hero-text">
          <h1>{{home.hero-text | newline_to_br }}</h1>
          <h4>{{home.hero-sub-text | newline_to_br }}</h4>
          <a class="btn-show-more" role="button" href="/introduction">View more
            <img src="/assets/img/main/tail-right.svg" /></a>
        </div>

      </div>
      <div class="blur" style="background-image:url('{{home.hero-bg}}');"></div>
      <!-- <div data-ytbg-fit-box="true" data-ytbg-load-background="false" data-youtube="https://www.youtube.com/watch?v={{home.video}}"></div> -->
    </div>
    <div class="container">
      <div class="row text-center" id="missions">

        <div class="mission-wrap col-sm-12 ">
          {% for mission in home.missions %}
          <div class="sm-4 col-xs-12 col-sm-4">
            <div class="mission">
              <h2><a>{{mission.number}}</a>{{mission.title}}</h2>
              <a style="opacity: 0.7;">{{mission.description}}</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>



    <!-- M.A.P.S 메뉴 -->
    <div class="fullwidthbanner-container hero" style="height: 630px; margin-bottom: 40px;">
      <div class="maps-bg content" style="background-image:url('{{home.maps-bg}}'); ">
        <div class="hero-text" style="color: white !important;">
          <h1>{{home.maps-text | newline_to_br }}</h1>
          <h4>{{home.maps-sub-text | newline_to_br }}</h4>
          <a class="btn-show-more" role="button" data-toggle="modal" data-target="#modal-{{solution.title}}">View more
            <img src="/assets/img/main/tail-right.svg" /></a>
        </div>

      </div>
    </div>



    <div class="container" style="margin-top: 120px;">
      <!-- Solution 메뉴 -->
      <div class="fullwidthbanner-container hero" style="height: max-content;">
        <div class="content">
          <div class="hero-text" style="color: white !important;">
            <h1>Solution</h1>
            <h4 style="opacity: 0.7;">{{home.solution-text | newline_to_br }}</h4>
            <br/>
            <div class="card_parent">
              <section class="card">
                <img class="solution-img" src="/assets/img/main/DmapAi.png"/>
                <h2>DmapAI</h2>
                <h3>Drone Mapping AI</h3>
                <h5>드론 영상을 업로드하면 정사영상(Orthophoto), 포인트클라우드(PointCloud), 3차원모델(3D Mesh), DSM(Digital Surface Model)을 생성하는
                  솔루션</h5>
                  <a class="btn-show-more" role="button" href="/introduction">View more
                    <img src="/assets/img/main/tail-right.svg" /></a>
              </section>

              <section class="card">
                <img class="solution-img" src="/assets/img/main/LDMapAI.png"/>
                <h2>LDMapAI</h2>
                <h3>LiveDroneMapAI</h3>
                <h5>드론에서 전송되는 영상에서 자동으로 객체를 식별하고 실시간으로 위치를 결정하는 솔루션</h5>
                <a class="btn-show-more" role="button" href="/introduction">View more
                  <img src="/assets/img/main/tail-right.svg" /></a>
              </section>

              <section class="card">
                <img class="solution-img" src="/assets/img/main/DDrive.png"/>
                <h2>D-drive</h2>
                <h3>영상 데이터 저장·관리</h3>
                <h5>수많은 영상을 한곳에서 편리하게 관리/검색/공유하는 서비스<br />
                  AI를 활용한 영상 자동 분류</h5>
             
                  <a class="btn-show-more" role="button" href="/introduction">View more
                    <img src="/assets/img/main/tail-right.svg" /></a>
              </section>

            </div>
          </div>
        </div>
      </div>


      <div class="recruit-wrap col-sm-12" style="text-align: center; margin-top: 100px;">
        <a href="{{home.recruit}}" class="btn-show-more" target="_blank">채용사이트 바로가기</a>
        <a href="{{home.recruit}}" class="btn-show-more" target="_blank">회사소개서 다운로드</a>

      </div>


    </div>





    <!-- <div class="row text-center" id="visions">
          <div class="col-sm-12">
            <h1>Visions</h1>
          </div>
          <div class="vision-wrap col-sm-12 ">
            {% for vision in home.visions %}
            <div class="col-sm-6 col-xs-12">
              <div class="vision">
                {{vision.title}}
              </div>
            </div>
            {% endfor %}
          </div>
        </div> -->
    <!-- <div class="row text-center" id="career">
      <div class="col-sm-12">
        <h1>채용 공고</h1>
      </div>
      <div class="recruit-wrap col-sm-12">
        <a href="{{home.recruit}}" class="btn-show-more" target="_blank">채용 사이트 바로가기</a>
      </div>
    </div>
    </div> -->
  </article>
  {% include footer.html %}
  {% include js.html %}
  <script type="text/javascript">
    jQuery(document).ready(function () {
      //     jQuery('[data-youtube]').youtube_background();
      //     jQuery('.blur').css('opacity','0');
      //     jQuery('.hero-text').css('opacity','0');
      //     jQuery('.preloader').css('opacity','0');
    });
  </script>
</body>

</html>