---
title: Innopam - innopam
permalink: /innopam/
nav: innopam
---

<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %}
    <article>
      <div class="pageTitle">Introduction</div>
      <div class="container" id="about">
        <div class="row contents" id="ceo-text">
          <div class="smallTitle">CEO 인사말</div>
          <!-- <div class="col-sm-8">{{innopam.ceo-text | newline_to_br}}</div> -->
          <div class="col-sm-8">
            안녕하세요. 우리 회사는 GeoAI 전문 기업입니다. 드론, 매핑, AI,빅데이터 기술을 기반으로 감시/정찰, 환경,
            재난, 건설 등 공공과 민간 분야 맞춤형 솔루션을 제공합니다. 드론, 차량 등 다중센서 이동체를 통한 효율적인
            데이터 취득에서부터, 현장에서 실시간 데이터 전송, 공간데이터베이스 기반의 저장과 관리, 빅데이터와 딥러닝
            기반 처리와 분석, 분석 결과의 보고와 배포에 이르기까지 전체 과정이 임무 특화되어 맞춤형으로 통합된 토탈
            시스템을 제공합니다. 우리 회사는 연구실 벤처입니다. 서울시립대학교 공간정보공학과 센서및모델링연구실에서
            출발했습니다. 연구실과 상호 보완적으로 함께 성장합니다. 회사에서는 현장의 목소리를 전달하여 진짜 풀어야하는
            문제가 무엇인지 일깨우고, 연구실에서 개발한 원천 기술을 단지 논문으로만 그치지 않고, 실제 현장에서 사용할 수
            있도록 실용화와 사업화를 추진합니다. 실제 현장의 목소리를 반영하여 함께 요구사항을 분석하고 맞춤형 솔루션을
            설계하고 구현하고 시험하고 검증합니다. 우리 회사는 열려있습니다. 우리 회사는 기술 혁신을 통해 좀 더 나은
            사회를 만들어 가려고 합니다. 우리 회사와 가치를 공유하는 다양한 그룹과 인재들과 함께 합니다. 많은 연락 부탁
            드립니다. 함께 합시다. (주)이노팸 대표이사 이임평
          </div>
        </div>

        <div class="row contents" id="history">
          <div class="smallTitle">Mission</div>
          <div class="col-sm-8">
            <div class="row">
              <div class="blur" style="background-image: url('assets/img/introduction/atom\,\ science.png')"></div>
            </div>
          </div>
        </div>

        <div class="row contents" id="history">
          <div class="smallTitle">History</div>
          <div class="col-sm-8">
            {% for history in innopam.history %}
            <div class="row">
              <div class="col-xs-3 date">{{history.date}}</div>
              <div class="col-xs-9 content">{{history.content}}</div>
            </div>
            {% endfor %}
          </div>
        </div>

        <div class="row contents" id="history">
          <div class="smallTitle">Contact</div>
        </div>
      </div>
    </article>

    {% include dmapai.html %} {% include ldmapai.html %} {% include footer.html %} {% include js.html %}
  </body>
</html>
