---
title: Innopam - Introduction
permalink: /introduction/
nav: introduction
---

<!DOCTYPE html>
<html lang="ko">
  {% include head.html %}
  <body id="page-top" class="index">
    {% include header.html %}
    <article>
      <div class="fullwidthbanner-container">
        <div class="solution-hero text-center" style="background-color: transparent">
          <h2 style="color: white">Introduction</h2>
          <div>INNOVATIVE PLATFORM FOR AI & MAPPING COMPANY</div>
          <div class="background" style=" background-image: url('/assets/img/introduction/menu1.jpg'); opacity: 0.4"></div>
        </div>
      </div>

      <div class="container" id="about">
        {% assign introduction = site.data.introduction %}
        <div class="row contents" id="ceo-text">
          <div class="smallTitle">CEO 인사말</div>
          <div class="col-xl-9" style="font-size: 18px">{{introduction.ceo-text | newline_to_br}}</div>
        </div>

        <div class="row contents" id="mission">
          <div class="smallTitle">Mission</div>
          <div class="content">
            <div class="row">
              <div
                class="col-sm-4 mb-4"
                style="display: flex; flex-direction: column; align-items: center; text-align: center"
              >
                <img src="/assets/img/introduction/atom.png" style="width: 120px; height: 120px" />
                <div style="font-size: 24px; font-weight: 700; margin-top: 15px">사회적 문제 해결</div>
                <div style="font-size: 18px; font-weight: 500; margin-top: 20px; width: 260px">
                  혁신적인 기술을 바탕으로 사회적인 문제 해결 솔루션 제공
                </div>
              </div>
              <div
                class="col-sm-4 mb-4"
                style="display: flex; flex-direction: column; align-items: center; text-align: center"
              >
                <img src="/assets/img/introduction/global.png" style="width: 120px; height: 120px" />
                <div style="font-size: 24px; font-weight: 700; margin-top: 15px">혁신적인 기술 개발</div>
                <div style="font-size: 18px; font-weight: 500; margin-top: 20px; width: 260px">
                  지형공간의 가치를 극대화하는 혁신적인 기술개발
                </div>
              </div>
              <div
                class="col-sm-4"
                style="display: flex; flex-direction: column; align-items: center; text-align: center"
              >
                <img src="/assets/img/introduction/team.png" style="width: 120px; height: 120px" />
                <div style="font-size: 24px; font-weight: 700; margin-top: 15px">즐겁고 안정적인 일자리 창출</div>
                <div style="font-size: 18px; font-weight: 500; margin-top: 20px; width: 260px">
                  자유롭고 안정적이며 즐겁게 일할 수 있는 복리후생이 탄탄한 양질의 일자리 창출
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row contents" id="history">
          <div class="smallTitle">History</div>
          {% for history in introduction.history %}
          <div class="row">
            <div class="col-sm-2" style="font-size: 24px; font-weight: 700; margin-bottom: 15px">{{history.date}}</div>
            <div class="col-xs-12 col-sm-8" style="font-size: 18px; font-weight: 500; margin-bottom: 15px">
              {{history.content}}
            </div>
          </div>
          {% endfor %}
        </div>

        <div class="row contents" id="contact">
          <div class="smallTitle">Contact</div>
          <div class="fullwidthbanner-container">
            <div id="map"></div>
            <script
              type="text/javascript"
              src="//dapi.kakao.com/v2/maps/sdk.js?appkey=90f5dafdbae17caebd268e8fb311edd3"
            ></script>
            <script>
              function initialize() {
                var myLatlng = new daum.maps.LatLng(37.583235,127.010390);

                var container = document.getElementById('map');
                var options = {
                  center: myLatlng,
                  scrollwheel :false,
                  level: 7
                };

                var map = new daum.maps.Map(container, options);
                {% assign contact = site.data.introduction %}
                var positions = [
                  {
                    name: '{{contact.map-1.name}}',
                    latlng: new daum.maps.LatLng({{contact.map-1.latlng}}),
                    img: '{{contact.map-1.img}}',
                    address: '{{contact.map-1.address}}'
                  },
                  {
                    name: '{{contact.map-2.name}}',
                    latlng: new daum.maps.LatLng({{contact.map-2.latlng}}),
                    img: '{{contact.map-2.img}}',
                    address: '{{contact.map-2.address}}'
                  }
                ];
                // 지도를 재설정할 범위정보를 가지고 있을 LatLngBounds 객체를 생성합니다
                var bounds = new daum.maps.LatLngBounds();

                for (var i = 0; i < positions.length; i++) {
                  // 마커를 생성합니다
                  var marker = new daum.maps.Marker({
                    map: map, // 마커를 표시할 지도
                    position: positions[i].latlng // 마커의 위치
                  });

                  // 마커에 표시할 인포윈도우를 생성합니다
                  var infowindow = new daum.maps.InfoWindow({
                    content: positions[i].content // 인포윈도우에 표시할 내용
                  });

                  // LatLngBounds 객체에 좌표를 추가합니다
                  bounds.extend(positions[i].latlng);

                  // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
                  // 이벤트 리스너로는 클로저를 만들어 등록합니다
                  // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다

                  addCustomOverlay(positions[i], map);
                }
                // map.setBounds(bounds);

                // 지도 확대 축소를 제어할 수 있는  줌 컨트롤을 생성합니다
                var zoomControl = new daum.maps.ZoomControl();
                map.addControl(zoomControl, daum.maps.ControlPosition.RIGHT);

                // 지도가 확대 또는 축소되면 마지막 파라미터로 넘어온 함수를 호출하도록 이벤트를 등록합니다
                daum.maps.event.addListener(map, 'zoom_changed', function() {

                  // 지도의 현재 레벨을 얻어옵니다
                  var level = map.getLevel();

                  var message = '현재 지도 레벨은 ' + level + ' 입니다';
                  var resultDiv = document.getElementById('result');
                  if(resultDiv != null)
                    resultDiv.innerHTML = message;

                });
              }
              // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
              function makeOverListener(map, marker, infowindow) {
                return function() {
                  infowindow.open(map, marker);
                };
              }

              // 인포윈도우를 닫는 클로저를 만드는 함수입니다
              function makeOutListener(infowindow) {
                return function() {
                  infowindow.close();
                };
              }

              function addCustomOverlay (position, map) {

              // HTML 문자열 또는 Dom Element 입니다
              var content = '<div class="overlaybox">' +
                '    <div class="boxtitle">'+ position.name +'</div>' +
                '    <img src="'+ position.img+'">' +
                '    <ul>' +
                '        <li class="up">' +
                '            <a href="http://map.daum.net/link/map/'+position.name+','+position.latlng.getLat()+','+position.latlng.getLng()+'" target="_blank" class="title">큰지도로 보기</a></span>' +

                '        </li>' +
                '        <li>' +
                '            <a href="http://map.daum.net/link/to/'+position.name+','+position.latlng.getLat()+','+position.latlng.getLng()+'" target="_blank" class="title">길찾기</a></span>' +
                '        </li>' +
                '    </ul>' +
                '  <address>'+ position.address +'</address>'+
                '</div>';

                // 커스텀 오버레이를 생성합니다
                var customOverlay = new daum.maps.CustomOverlay({
                  position: position.latlng,
                  content: content,
                  xAnchor: 0.3,
                  yAnchor: 0.91
                });

                // 커스텀 오버레이를 지도에 표시합니다
                customOverlay.setMap(map);
              }

              initialize();
            </script>
          </div>
          {% for contact in introduction.contact %}
          <div class="row">
            <div class="col-xs-4 col-sm-2" style="font-size: 24px; font-weight: 500; margin-top: 15px">{{contact.place}}</div>
            <div class="col-xs-8" style="font-size: 18px; font-weight: 500; margin-top: 15px">{{contact.address}}</div>
          </div>
          {% endfor %}
        </div>
      </div>
    </article>

    {% include footer.html %} {% include js.html %}
  </body>
</html>
