{% assign ddriveai = site.data.solutions.ddrive %}

<div
  class="modal fade modal-fullscreen"
  id="modal-{{ddriveai.title}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <a class="close" data-dismiss="modal" aria-hidden="true"></a>
  <div class="fullwidthbanner-container">
    <div class="solution-hero text-center">
      <h2>{{ddriveai.title}}</h2>
      <h3>{{ddriveai.subtitle}}</h3>
      <div class="desc">{{ddriveai.description}}</div>
      <div class="background"></div>
    </div>
  </div>
  <div class="container" id="solution-detail">
    <div class="row" id="feature">
      <div class="col-sm-12">
        <h1>기능</h1>
      </div>
      <div class="item-wrap col-sm-12">
        {% for feature in ddriveai.features %}
        <div class="item col-sm-6 col-xs-12">
          <div class="image" style="background-image:url('{{feature.image}}');"></div>
          <div class="text">
            <h2>{{feature.title}}</h2>
            {{feature.description | newline_to_br}}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
