{% assign dmapai = site.data.solutions.dmapai %}

<div
  class="modal fade modal-fullscreen"
  id="modal-{{dmapai.title}}"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
>
  <a class="close" data-dismiss="modal"></a>
  <div class="fullwidthbanner-container">
    <div class="solution-hero text-center">
      <h2>{{dmapai.title}}</h2>
      <h3>{{dmapai.subtitle}}</h3>
      <div class="desc">{{dmapai.description}}</div>
      <div class="background"></div>
    </div>
  </div>
  <div class="container" id="solution-detail">
    <div class="row" id="feature">
      <div class="col-sm-12">
        <h1>기능</h1>
      </div>
      <div class="item-wrap col-sm-12">
        {% for feature in dmapai.features %}
        <div class="item col-lg-6 col-md-6 col-sm-6 col-xs-12 min-width">
          <div class="image" style="background-image:url('{{feature.image}}');"></div>
          <div class="change-feature-details dmapai-text">
            <h2>{{feature.title | newline_to_br}}</h2>
            <p>{{feature.description | newline_to_br}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row" id="example">
      <div class="col-sm-12">
        <h1>도입 사례</h1>
      </div>
      <div class="item-wrap col-sm-12">
        {% for example in dmapai.examples %}
        <div class="item col-md-6 col-sm-12 min-width">
          <div class="image" style="background-image:url('{{example.image}}');"></div>
          <div class="change-feature-details">
            <h2>{{example.title | newline_to_br}}</h2>
            <p>{{example.description | newline_to_br}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
