<nav class="navbar navbar-fixed-top gnb">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="nav-logo"><img src="{{ " /assets/img/innopam-nav-logo@2x.png" | prepend: site.baseurl }}"></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item" id="nav-introduction"><a href="/introduction/" class="link">Introduction</a></li>

        <li class="nav-item" id="nav-solutions"><a href="/solutions/" class="link">Solutions</a></li>

        <li class="nav-item" id="nav-business-record"><a href="/business-record/" class="link">Business Record</a></li>
        <!-- <li class="nav-item" id="nav-contact"><a href="/contact/" class="link">Contact</a></li> -->

        <li class="nav-item" id="nav-media"><a href="/media/" class="link">Media</a></li>
      </ul>
    </div>
  </div>
</nav>
