---
title : 주식회사 이노팸 / Innopam
permalink: /
nav: home
---

<!DOCTYPE html>
<html lang="ko">
{% include head.html %}

<body id="page-top" class="index">
  {% include header.html %}
  {% assign home = site.data.home %}
  <article>
    <!-- <div data-ytbg-fit-box="true" data-ytbg-load-background="false" data-youtube="https://www.youtube.com/watch?v={{home.video}}"></div> -->
    <div class="fullwidthbanner-container text-center">
      <div class="is-mb" style="background-image:url('{{home.hero-bg}}');
      width: 100%;
      margin-top: 100px;
      top: 0;
      z-index: 1;
      overflow: hidden;
      background-size: cover;
      background-position: 38% 50%;
      background-repeat: no-repeat;
      padding-top: 120px;
      padding-bottom: 120px;
      ">
        <div class="px-3">
          <h1 style="color: #1057C1;">{{home.hero-text | newline_to_br }}</h1>
          <h4 style="color: #1057C1;">{{home.hero-sub-text | newline_to_br }}</h4>
          <a class="btn-show-more" role="button" href="/introduction">View more
            <img src="/assets/img/main/tail-right.svg" /></a>
        </div>
      </div>
      <div class="container">
        <div class="text-center" id="missions">
          <div class="row mission-wrap align-items-center">
            {% for mission in home.missions %}
            <div class="col-xs-12 col-sm-3 my-sm-2">
              <div class="mission">
                <h2>
                  <a>{{mission.number}}</a>{{mission.title}}
                </h2>
                <a style="opacity: 0.7;">
                  {% if mission.number == "7" %}
                  <span>
                    도시관리<span style="font-size: 10px;">(도시변화모니터링)</span>, 
                    농업분야<span style="font-size: 10px;">(생산량 예측)</span>, 
                    해양분야<span style="font-size: 10px;">(선박 및 쓰레기 탐지)</span>, 
                    산림관리<span style="font-size: 10px;">(산림훼손, 재선충 탐지)</span>, 
                    재난안전<span style="font-size: 10px;">(피해지역 분석)</span> 등
                  </span>
                  {% else %}
                  <span>{{mission.description}}</span>
                  {% endif %}
                </a>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <!-- M.A.P.S 메뉴 -->
    <div class="fullwidthbanner-container hero" style="height: 630px; margin-bottom: 40px;">
      <div class="maps-bg content" style="background-image:url('{{home.maps-bg}}'); ">
        <div class="hero-text px-3" style="color: white !important;">
          <h1 style="color:  white !important;">{{home.maps-text | newline_to_br }}</h1>
          <h4>{{home.maps-sub-text | newline_to_br }}</h4>
          <a class="btn-show-more" role="button" data-toggle="modal" data-target="#modal-MAPS">View more
            <img src="/assets/img/main/tail-right.svg" /></a>
        </div>

      </div>
    </div>



    <div class="container text-center" style="margin-top: 120px;">
      <!-- Solution 메뉴 -->

      <div>
        <h1>Solution</h1>
        <h4 style="opacity: 0.7;">{{home.solution-text | newline_to_br }}</h4>
      </div>


      <div class="hero-text" style="color: white !important;">
        <br />
        <div>
          {% for solution in home.solutions %}
          <section class="col-md-5 col-xs-12 col-sm-4 p-3" style="max-width: 538px; height: 562px;">
            <div class="card pb-sm-3">
              <div class="solution-img-container">
                <img class="solution-img" src="{{solution.img}}" />
              </div>
              <h2>{{solution.title}}</h2>
              <h3>{{solution.subtitle}}</h3>
              <h5>{{solution.description}}</h5>
              <a class="btn-show-more" role="button" data-toggle="modal" data-target="#modal-{{solution.target}}">View more
                <img src="/assets/img/main/tail-right.svg"/></a>
            </div>

          </section>
          {% endfor %}
        </div>
      </div>


      <div class="recruit-wrap col-sm-12 pt-xl-6 pb-xl-6 pt-4" >
        <a href="{{home.recruit}}" class="btn-show-more" target="_blank">채용사이트 바로가기
          <img src="/assets/img/main/tail-right.svg" /></a>
        </a>
        <a class="pl-lg-6 pl-0"> </a>
        <a href="/assets/pdf/2024_InnoPAM_IR_Full version_pdf_V1.7.pdf" download class="btn-show-more" target="_blank">
          회사소개서 다운로드
          <img style="vertical-align: text-bottom;" src="/assets/img/main/file_download.svg"/>
        </a>
      </div>


    </div>

    <!-- <div class="row text-center" id="visions">
          <div class="col-sm-12">
            <h1>Visions</h1>
          </div>
          <div class="vision-wrap col-sm-12 ">
            {% for vision in home.visions %}
            <div class="col-sm-6 col-xs-12">
              <div class="vision">
                {{vision.title}}
              </div>
            </div>
            {% endfor %}
          </div>
        </div> -->
    <!-- <div class="row text-center" id="career">
      <div class="col-sm-12">
        <h1>채용 공고</h1>
      </div>
      <div class="recruit-wrap col-sm-12">
        <a href="{{home.recruit}}" class="btn-show-more" target="_blank">채용 사이트 바로가기</a>
      </div>
    </div>
    </div> -->
  </article>
  {% include mmaps.html %} {% include dmapai.html %} {% include ldmapai.html %} {% include ddriveai.html %}
  {% include msaips.html %} {% include changedetection.html %} {% include footer.html %}
  {% include js.html %}
  <script type="text/javascript">
    jQuery(document).ready(function () {
      //     jQuery('[data-youtube]').youtube_background();
      //     jQuery('.blur').css('opacity','0');
      //     jQuery('.hero-text').css('opacity','0');
      //     jQuery('.preloader').css('opacity','0');

      // 이미지 확대 코드 추가
      const images = document.querySelectorAll('.solution-img');

      images.forEach(image => {
        const src = image.getAttribute('src');
        if (src === '/assets/img/solutions/dmapai.gif') {
          image.style.transform = 'scale(1.04)';
        } else if (src === '/assets/img/solutions/ldmapai.gif') {
          image.style.transform = 'scale(1.1)';
        } else {
          image.style.transform = 'scale(1)';
        }
      });
    });
  </script>
</body>

</html>